@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: #374151 transparent;
  }
  *::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #374151;
    border-radius: 9999px;
  }
  body {
    background-color: #030712;
  }
}

@layer utilities {
  .delay-100 { animation-delay: 100ms; }
  .delay-200 { animation-delay: 200ms; }
  .delay-1000 { animation-delay: 1000ms; }
  .duration-2000 { transition-duration: 2000ms; }
  .duration-3000 { transition-duration: 3000ms; }
}
